<app-header/>
<div class="container">
    <table>
        <thead>
          <tr>
            <th>{{globalText.name}}</th>
            <th>{{globalText.descripcion}}</th>
            <th>{{globalText.precio}}</th>
            <th>{{globalText.stock}}ck</th>
            <th>{{globalText.categoria}}</th>
            <th>{{globalText.accion}}</th>
            <th (click)="openProductForm()" class="add"><p>{{globalText.agregar}}</p></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products">
            <td>{{ prod.nombre }}</td>
            <td>{{ prod.descripcion }}</td>
            <td>$ {{ prod.precio }}</td>
            <td>{{ prod.stock }}</td>
            <td>{{ prod.nombreCategoria  }}</td>
            <td>
              <button (click)="openProductForm(prod)" >{{globalText.modificar}}</button>
              <button (click)="deleteProduct(prod.id)">{{globalText.eliminar}}</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<app-footer/>