<app-header/>
<div class="container">
    <table>
        <thead>
          <tr>
            <th>{{globalText.id}}</th>
            <th>{{globalText.name}}</th>
            
            <th>{{globalText.accion}}</th>
            <th class="add" (click)="openCategoryForm()"><p>{{globalText.agregar}}</p></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of category">
            <td>{{ cate.id }}</td>
            <td>{{ cate.nombre }}</td>
            <td>
              <button (click)="openCategoryForm(cate)" >{{globalText.modificar}}</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<app-footer/>